@import "../../assets/styles/colors";

.navigation-wrap {
  background: none !important;
  position: fixed !important;
  left: 0;
  top: 0;
  border-bottom: 1px solid $NavMainBackgroundColor !important;
  box-shadow: none !important;
  .logo {
      padding-top: 4px !important;
      display: inline-block;
      opacity: 0.8;
      margin-left: -2px;
      font-size: 14px;
    img {
      height: 40px;
      margin-right: 12px;
      margin-top: -4px;
      opacity: 0.9;
      vertical-align: middle;
    }
  }
}
