@import "../../assets/styles/colors";

.navigation-wrap {
    background: none !important;
    position: fixed !important;
    left: 0;
    top: 0;
    border-bottom:1px solid $NavMainBackgroundColor !important;
    box-shadow: none !important;
}