.scene-wrap {
    height: 100vh;
    width: 100vw;
    height: calc(100vh - 65px) !important;
    width: calc(100vw - 241px) !important;
    &.base {
        height: 100vh !important;
        width: calc(100vw - 321px) !important;
    }
    &.template {
        height: 100vh !important;
        width: calc(100vw - 321px) !important;
    }
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 10;
}